/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */

.apple-pie-header {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.apple-pie-header img {
  width: 100%;
}

.apple-pie-header h1 {
  font-size: 200px;
  position: absolute;
  margin: 1000px;
  color: white;
  width: 100%;
}

.recipe-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px 700px;
  border-bottom: 3px solid #bbb;
  color: #696969;
}

.recipe-intro p {
  font-size: 30px;
  width: 1010px;
}

.recipe-intro img {
  width: 40%;
  margin-top: 50px;
}

.ingredients {
  margin: 100px 700px;
  border-bottom: 3px solid #bbb;
  font-size: 30px;
  color: #696969;
}

.ingredients p {
  width: 37%;
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.ingredients ul {
  list-style-type: "- ";
  margin-left: 280px;
}

#img-ingredients {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.direction{
  
}